* {
    box-sizing: border-box;
}

:root {
    --primary: #3ea060;
    --secondary: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}

header {
    text-align: center;
    color: #e70000;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 0px auto 10px;
}

img header {
    background-image: url("../images/money.jpg");
    background-size: cover;
    width: 50%;
    background-position: 40%;
    background-attachment: scroll;
}

.container {
<<<<<<< HEAD
    background-color: var(--primary);
    color: #e70000;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 20px;
    padding: 10px;
    
}

.pure-table tr {
    display: flex;
    justify-content: space-around;
}

.pure-table th {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background: var(--secondary);
    color: #e70000;
}
 
=======
    background-color: var(--primary);
    color: #e70000;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 20px;
    padding: 10px;
    
}

.pure-table tr {
    display: flex;
    justify-content: space-around;
}

.pure-table th {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background: var(--secondary);
    color: #e70000;
}










/* CSS code from testing (JM)

:root {
    --primary: #3ea060;
    --secondary: #fff;
    --history: rgb(236, 232, 232);
    --border: rgb(173, 169, 169);

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
}

#stock-form {
    display: inline;
}

/* Search history of stocks 
.stock-history {
    margin: 20px 0;
    display: block;
    text-align: left;
    font-size: 1.0rem;
    width: 175px;
    background-color:var(--history);
    text-transform: uppercase;
}

.stock-history-p {
    display: inline-block;
    margin:0;
    padding:2px;
    font-weight: bold;
    text-align: left;
    font-size: 1.0rem;
    width: 175px;
    text-transform: none;
    background-color:var(--history);
}

.btn-hist {
    margin: 0;
    font-size: 1.0rem;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    border: 1px solid var(--history);
    background-color: var(--history);
    width: 100%;
    transform: translate(-1px, -1px);
  }

  .btn-hist:hover {
    margin: 0;
    font-size: 1.0rem;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    background-color:rgb(110, 109, 109);
    width: 100%;
    transform: translate(-1px, -1px);
  }

div.stock-prices {
      display: inline-block;
      float: left;
      width: 350px;
      margin: 0;
      padding: 2px;
  }
>>>>>>> 89539dedecccd0817eab011aacc0ae9a6f53b627
