* {
    box-sizing: border-box;
}

:root {
    --primary: #3ea060;
    --secondary: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}

header {
    text-align: center;
    color: #e70000;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 0px auto 10px;
}

header img {
    background-image: url("../images/stockmk.jpg");
    background-size: cover;
    width: 50%;
    background-position: 40%;
    background-attachment: scroll;
    border: 10px solid black;
}

h2{
    text-align: center;
}

img.h2 {
    background-image: url("../images/money.jpg");
    background-size: cover;
    width: 50%;
    background-position: 40%;
    background-attachment: scroll;
}

.container {
    background-color: var(--primary);
    color: #e70000;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 20px;
    padding: 10px;
    
}

.pure-table {
    margin-top: 8px;
    width: min-content;
}

.pure-table tr {
    display: flex;
    justify-content: space-around;
}

.pure-table th {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background: var(--secondary);
    color: #e70000;
}

#money {
    display: flex;
    flex-wrap: wrap;       
}


 